.row-fluid
  .col-md-8.col-md-offset-2
    .row-fluid
      .col-md-5
        %h4= book.title
      .col-md-3
        %h4
          = "#{t :by_author_1}"
          = link_to"#{book.author.decorate.full_name}", 
            author_path(book.author)
    .row-fluid
      .col-md-3
        .image-thumb
          = link_to image_tag(book.images.thumb), book_path(book)
      .col-md-9
        = book.description
    .row-fluid
      .col-md-5.col-md-offset-3
        %p
          .form-inline
            = form_tag controller: 'order_items', action: 'create', 
              method: :post do
              %strong= "#{PriceDecorator.decorate(book.price).price}"
              = hidden_field_tag 'book_id', book.id
              = number_field_tag 'quantity', '1', in: 1..book.books_in_stock, 
                id: "book_quantity", class: "form-control"
              = submit_tag t(:add_to_cart), id: "add_to_cart", 
                class: "btn btn-warning"