.row-fluid
  .col-md-3.col-md-offset-4.col-centered
    = link_to image_tag("fb.png", size: "53x64", alt: "Facebook sign up"), customer_omniauth_authorize_path(:facebook)
    %p= t(:or)
.row-fluid
  .col-md-3.col-md-offset-4
    = form_for(resource, as: resource_name, 
      url: registration_path(resource_name)) do |f|

      - [:email, :password, :password_confirmation].each do |item|
        = render partial: 'sign_up_fields', locals: {f: f, item: item}
        
      .actions
        %br/
        = f.submit t("sign_in_page.sign_up"), class: 'btn btn-warning'
.row.fluid
  .col-md-3.col-md-offset-4.col-centered
    = render "devise/shared/links"