= f.hidden_field :book_id, readonly: true, value: @book.id
.field
  .rating
    - for i in 1..10
      %input{id: "rate#{i}", name: "rating[rate]", type: "radio", 
        value: "#{i}", class: 'star {half:true}'}
%br/
.field
  = f.label :review, t(:text_review)
  %br/
  = f.text_area :review
.actions
  = f.submit t(:add), class: 'btn btn-warning'
  %span= t(:or)
  = link_to t(:cancel), @book