= f.hidden_field :book_id, readonly: true, value: @book.id
.field
  = f.label :rate, t(:rating)
  = f.number_field :rate, in: 1..10, value: 10
.field
  = f.label :review, t(:text_review)
  %br/
  = f.text_area :review
.actions
  = f.submit t(:add), class: 'btn btn-warning'
  %span= t(:or)
  = link_to t(:cancel), @book
