.row-fluid
  .col-md-12.col-md-offset-1
    %h4 
      = "#{@book.title}#{t :by_author}"
      = link_to @book.author.decorate.full_name, author_path(@book.author)

.row-fluid
  .col-md-3.col-md-offset-1
    .image
      = image_tag @book.images.url

  .col-md-7
    %p
      = form_tag(controller: 'order_items', action: 'create', method: :post) do
        .form-inline
          .col-md-4
            %h4= PriceDecorator.decorate(@book.price).price
          .col-md-5.col-md-offset-3
            .book-form-right
              = number_field_tag 'quantity', '1', 
                in: 1..@book.books_in_stock, id: "book_quantity", 
                class: 'form-control' 
              = hidden_field_tag 'book_id', @book.id
              = submit_tag t(:add_to_cart), id: "add_to_cart", 
                class: 'btn btn-warning'

    %p= @book.description

.row-fluid
  .col-md-10.col-md-offset-1
    .row
      .col-md-1
        %h4= t(:reviews)
      .col-md-2
        = link_to t(:add_review), new_book_rating_path(@book), 
          class: 'btn btn-warning'
    .row
      .col-md-12
        %table.table
          %body
            = render partial: "books/rating", collection: @book.ratings
