%br/
- errors = flash[:errors]
- if errors && errors["credit_card.#{attr_sym}"]
  .has-error
    = render partial: 'credit_card_field', 
      locals: {f: f, attrs: attrs, attr_sym: attr_sym}
    %span.help-block
      = "#{errors["credit_card.#{attr_sym}"].uniq.join(', ')}"

- elsif attr_sym == :number && errors && errors["credit_card.credit_card"]
  .has-error
    = render partial: 'credit_card_field', 
      locals: {f: f, attrs: attrs, attr_sym: attr_sym}
    %span.help-block
      = "#{errors["credit_card.credit_card"].uniq.join(', ')}"

- elsif is_exp_year_or_month?(attr_sym) && errors && errors["base"]
  .has-error
    = render partial: 'credit_card_field', 
      locals: {f: f, attrs: attrs, attr_sym: attr_sym}
    %span.help-block
      = "#{errors["base"].uniq.join(', ')}"

- else
  %div
    = render partial: 'credit_card_field', 
      locals: {f: f, attrs: attrs, attr_sym: attr_sym}