%tr
  %td= image_tag order_item.book.images, size: '30x40'
  %td.cart-title-col
    = link_to "#{order_item.book.title}", order_item.book
  %td.cart-right-col-thin
    = PriceDecorator.decorate(order_item.book.price).price
  %td 
    = number_field_tag "order_items_attrs[][quantity]", order_item.quantity, 
      min: 1, class: 'form-control'
    = hidden_field_tag "order_items_attrs[][book_id]", order_item.book.id
  %td.cart-right-col
    = label_tag "order_items_attrs[][price]", 
      PriceDecorator.decorate(order_item.price).price
  %td
    - if current_order
      = link_to t("checkout.remove"), order_item,  method: :delete, 
        class: 'btn btn-danger'
    - else
      = link_to t("checkout.remove"), url_for(controller: 'order_items', 
        action: 'delete_from_cookies', book_id: order_item.book.id), 
        method: :delete, class: 'btn btn-danger'