.row-fluid
  .col-md-8.col-md-offset-2
    %h4= t("checkout.shopping_cart")
.row-fluid
  .col-md-8.col-md-offset-2
    - if current_customer
      = form_tag @order, method: :put do
        = render partial: 'form', locals: {order: @order}
    - else
      = form_tag controller: 'orders', action: 'update_cookies', method: :post do
        = render partial: 'form', locals: {order: @order}


.row-fluid
  .col-md-4.col-md-offset-6.col-righted
    = form_tag controller: "checkouts", action: "create", method: :post do
      .form-inline
        - @order.order_items.each do |item|
          = render partial: "hidden_order_item", locals: {order_item: item}
        = text_field_tag "order[coupon_code]", nil, 
          placeholder: t("checkout.coupon_code"), class: 'form-control'
        = submit_tag t("checkout.checkout"), class: 'btn btn-success'