.col-md-3
  %h4= t :shop_by
  %table
    %tbody
      %td= link_to t("categories.all"), books_path
      - @categories.each do |category|
        %tr
          %td= link_to "#{t "categories.#{category.title}"}", category
  %br